:root {
  --color-primary: #0c4767;
  --color-background: #F6E7CB;
  --card-width: 160px;
  
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}



/* ::selection {
  background: var(--color-primary);
  color: rgb(0, 0, 0);
} */


body {
    background-color: var(--color-background);
    color: var(--color-primary);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#mobile{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  color: var(--color-background);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  #mobile {
    opacity: 1;
    pointer-events: all;
  }
 }







p {
  font-size: 1.6rem;
}
h3 {
  font-size: 6rem;
}
h4 {
  font-weight: 300;
}
.player-score {
  font-weight: 900;
}






.container {
    padding: 0 2rem;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
}
.message {
    max-width: 400px;
    text-align: center;
}


#content-wrapper{
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}
#content-wrapper.lose-screen {
  background-color: var(--color-primary);
  color: var(--color-background);
  flex-direction: column;
}



.welcome-screen{
  max-width: 400px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;

}
.welcome-message {
  font-size: 3rem;
  font-weight: 300;
}
.logo{
  margin: 1rem 0;
}
.btn{
  background: none;
  border-radius: 15px;
  height: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 1rem 0 ;
  transition: all 0.3s;
  width: 60%;
}
.btn__primary {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);

}
.btn__primary:hover {
  background: var(--color-primary);
  color: var(--color-background);
}

.btn__inverse {
  border: 2px solid var(--color-background);
  color: var(--color-background);
}

.btn__inverse:hover {
  background: var(--color-background);
  color: var(--color-primary);
}

.input{
  background: none;
  border-radius: 15px;
  border: 2px solid #0c47678e;
  height: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-primary);
  
  text-align: center;
  width: 60%;
  transition: all 0.3s;
}
.input:hover{
  border-color: var(--color-primary);

}
.input:focus {
  outline: none;
  border-color: var(--color-primary);
}
.input::placeholder {
  color: var(--color-primary);
  opacity: 0.4;
  font-size: 1.6rem;
}



.hidden {
  display: none;
  pointer-events: none;
  opacity: 0;
}

.cardoo.card-back {
  background-color: #0C4767;
  background-image: url(../files/Maze_bg.svg);
  background-size: cover;
  border: 18px solid var(--color-primary);
 
}

.testowe {
  display: none;
}
.card-back .testowe {
  display: inline;
  width: 100%;
  height: 100%;
  
  background-color: none;
  border-radius: 8px;
  border: 2px solid var(--color-background);


}

.card-back svg{
  display: none;
}


.current-level {
  position: absolute;
  z-index: 2;

  opacity: 0;
  gap: 20px;
}
.grid-1x4{
  display: grid;
  grid-template-columns: repeat(4, var(--card-width));
}
.grid-1x5{
  display: grid;
  grid-template-columns: repeat(5, var(--card-width));
}
.level-wrapper {
  opacity: 0;
}

.cardoo {
  border: 2px solid var(--color-primary);
  background-color: #faf3e7;
  border-radius: 15px;
  width: 100%;
  justify-self: center;
  height: calc(1.5*var(--card-width));
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 100ms;
 
}
.cardoo:hover {
  transform: scale(1.03);
  -webkit-box-shadow: -0px 5px 25px 0px rgba(12, 71, 103, 0.21);
  -moz-box-shadow: -0px 5px 25px 0px rgba(12, 71, 103, 0.21);
  box-shadow: -0px 5px 25px 0px rgba(12, 71, 103, 0.21);
}
.cardoo svg{
  width:50%;
}

.obrocik {
  animation-name: exam;
  animation-duration: 0.3s;
}



.cardoo img{
  width: 10%;
}

.win-wrapper {
 position: absolute;
 opacity: 0;
 transition: opacity 1s;
 
 
}




.win {
 position: absolute;
 z-index: 3;
 background-color: var(--color-background);
 display:flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 text-align: center;
 font-size: 6rem;
 opacity: 1;
}

@keyframes exam {
  0% {width:100%}
  50% {width: 1%}
  100% {width: 100%}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

#transition {
  position: absolute;
  background-color: var(--color-primary);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  height: 100%;
  width: 140%;
  left: -140%;
  z-index: 5;
  

}





#countdown{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 15rem;
  align-items: center;
  color: var(--color-background);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
}

#content-wrapper.lose-screen{
  position: absolute;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  color: var(--color-background);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-primary);
 
 
}

.lost {
  max-width: 400px;
}

.score {
  margin: 0.4rem 0;
}



.timer {
  position: absolute;
  pointer-events: none;
}

nav {
  z-index: 4;
  position: fixed;
  
  width: 100%;
  height: 80px;
 
  
}
.nav{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
}
.lives {
  padding-top: 1rem;
}
.points {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;

}

.level {
  font-size: 2.4rem;
  font-weight: 900;
}
.time-to-start{
  display: block;
  font-size: 1.6rem;
}
.player {
  font-size: 1.8rem;
}
.nav-left {
  text-align: left;
}
.nav-center {
  padding-top: 1.8rem;
  
  
  text-align: center;
}
.nav-right {
  text-align: right;
}
.logo-nav {
  
  width: 150px;
}

.floating-points {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  font-weight: 900;
  opacity: 0;
  transition: transform 0.4;
  pointer-events: none;
}
