:root {
  /* --color-primary: #0c4767;
  --color-background: #F6E7CB; */
  --color-primary: #F6E7CB;
  --color-background: #0c4767;
  
  --card-width: 160px;
  --card-gap: 16px;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


/* ::selection {
  background: var(--color-primary);
  color: rgb(0, 0, 0);
} */
body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.game {
    background-color: var(--color-background);
    color: var(--color-primary);

}
.boss {
  background-color: rgb(35, 35, 36);
  color: var(--color-primary);

}

.boss .floating-points {
  color: #7FDEFF;
}
.boss .cardoo {
  border: 1px solid var(--color-primary);
  background-color: rgb(250, 243, 231);
  border-radius: 15px;
  width: 100%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 100ms;
 
}
.boss .cardoo:hover {
  
  -webkit-box-shadow: -0px 5px 25px 0px rgba(0, 0, 0, 0.453);
  -moz-box-shadow: -0px 5px 25px 0px rgba(0, 0, 0, 0.453);
  box-shadow: -0px 5px 25px 0px rgba(0, 0, 0, 0.453);
}


.boss .cardoo.card-back {
  background-color: rgb(35, 35, 36);

}


.boss .card-back .testowe {
  background-color: rgb(48, 48, 48);

}

.boss footer{
  background-color: rgb(35, 35, 36);
}

.boss .win {
 
  background-color: rgb(35, 35, 36);
 
 }
 .boss #content-wrapper{
  background-color: rgb(35, 35, 36);

}
.boss #content-wrapper.lose-screen {
  background-color: rgb(35, 35, 36);


}











p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
}
h1 {
  margin: 0;
}
h3 {
  font-size: 6rem;
}
h4 {
  font-weight: 100;
}
.player-score {
  font-weight: 900;
}

strong {
  color:#7FDEFF;
  font-weight: 500;
}


.hidden {
  display: none;
  pointer-events: none;
  opacity: 0;
}


.container {
    padding: 0 2rem;
    /* transform: translateY(-50px); */
    
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
}
.summary-wrapper {
  margin: 2rem 0;
}



#content-wrapper{
  background-color: var(--color-background);
  color: var(--color-primary);
  position: absolute;
  top: 0;
  z-index: 6;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
#content-wrapper.lose-screen {
  background-color: var(--color-background);
  color: var(--color-primary);
  flex-direction: column;
}



.welcome-screen{
  margin:0 2rem;
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;

}
.welcome-message {
  font-size: 3rem;
  font-weight: 100;
}
.logo{
  margin: 1rem 0;
}


/* BUTTONS & INPUTS */

.btn{
  background: none;
  border-radius: 15px;
  height: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 1rem 0 ;
  transition: all 0.3s;
  width: 60%;
}
.btn__primary {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);

}
.btn__primary:hover {
  background: var(--color-primary);
  color: var(--color-background);
}

.btn__inverse {
  border: 2px solid var(--color-background);
  color: var(--color-background);
}

.btn__inverse:hover {
  background: var(--color-background);
  color: var(--color-primary);
}

.input{
  background: none;
  border-radius: 15px;
  border: 2px solid #f6e7cb98;
  height: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-primary);
  
  text-align: center;
  width: 60%;
  transition: all 0.3s;
}
.input:hover{
  border-color: var(--color-primary);

}
.input:focus {
  outline: none;
  border-color: var(--color-primary);
}
.input::placeholder {
  color: var(--color-primary);
  opacity: 0.4;
  font-size: 1.6rem;
}




footer{
  background-color: #0c4767;
  border-top: 1px solid rgba(255, 255, 255, 0.153);
  z-index: 15;
  height: 50px;
  top: 100%;
  transform: translateY(-50px);
  position: fixed;

  width: 100%;
}


.footer{
  /* position: fixed; */
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1200px;

}

.player {
  font-size: 1.4rem;
}

.about-me {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: right;
}
.about-me__icon {
  color: var(--color-primary);
  font-size: 2.2rem;
  margin-left: 1.5rem;
}






.level-wrapper {
  opacity: 0;
}




.win-wrapper {
 position: absolute;
 opacity: 0;
 transition: opacity 1s;
 
 
}




.win {
 position: absolute;
 z-index: 3;
 background-color: var(--color-background);
 display:flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 text-align: center;
 font-size: 6rem;
 opacity: 1;
}

@keyframes exam {
  0% {width:100%}
  50% {width: 0%}
  100% {width: 100%}
}

#countdown{
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 15rem;
  align-items: center;
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-background);
  opacity: 0;
  pointer-events: none;
}

#content-wrapper.lose-screen{
  position: absolute;
  z-index: 10;
  
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-background);
 
 
}

.lost {
  max-width: 400px;
}

.score {
  margin: 0;
  font-size: 1.4rem;
}



.timer {
  position: absolute;
  pointer-events: none;
  
}
#timer {
  position: absolute;
  pointer-events: none;
  top: 0;
}

nav {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 50px;
  background: none;
}
.nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}
.lifes {
  margin-left: 1.5rem;
  
}
.lifes svg{
  transform: scale(0.85) translateY(1px);
}
.points {
  width: 100%;
  margin: 0 auto;

}

.level {
  font-size: 2.2rem;
  font-weight: 900;
}

.time-to-start{
  display: block;
  font-size: 1.6rem;
}

.nav-left {
  text-align: left;
  padding-top: 1.6rem;
}

.nav-right {
  text-align: right;
}


.floating-points {
  color:#7FDEFF;
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  font-weight: 900;
  opacity: 0;
  transition: transform 0.4;
  pointer-events: none;
}

#mobile{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  color: var(--color-background);
  font-weight: 900;
  text-align: center;
  background-color: var(--color-primary);
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 600px) {
  #mobile {
    opacity: 1;
    pointer-events: all;
  }
 }







.current-level {
  position: absolute;
  
  
  z-index: 2;
  opacity: 0;
}


/* @media screen and (max-height: 840px) {
  :root {
    --card-width: 120px;
    --card-gap: 8px
  }

} */
.grid {
  display: grid;
  gap: var(--card-gap);

}

.grid-1x4{
  grid-template-columns: repeat(4, var(--card-width));
}
.grid-2x3{
  grid-template-columns: repeat(3, var(--card-width));
}
.grid-2x4{
  grid-template-columns: repeat(4, var(--card-width));
}
.grid-2x5{
  grid-template-columns: repeat(5, var(--card-width));
}
.grid-3x4{
  grid-template-columns: repeat(6, min(150px,15vw));
}


.cardoo {
  border: 1px solid var(--color-primary);
  background-color: #faf3e7;
  border-radius: 15px;
  width: 100%;
  justify-self: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 100ms;
}

.grid-3x4.grid{
  gap:10px;
}

@media screen and (min-width:881px) and (min-height:880px){

  .grid-3x4{
    grid-template-columns: repeat(4, min(160px,18vw));
  }
}
@media screen and (max-width: 880px) {
 

  .grid-1x4{
    
    grid-template-columns: repeat(2, min(45vw,160px));
  }  
  .grid-2x3{
    grid-template-columns: repeat(3, min(30vw,160px));
  }
  .grid-2x4{
    grid-template-columns: repeat(4, min(22vw,160px));
  }
  .grid-2x5{
    grid-template-columns: repeat(5, min(16vw,160px));

  }
  .grid-2x5 .cardoo {
    height: min(200px,40vh);

  }
  .grid-3x4 {
    grid-template-columns: repeat(4, min(22vw,160px));
  }
  .grid-3x4 .cardoo {
    height: min(240px,26vh);

  }
  
  
  

  .grid-2x3 .cardoo,
  .grid-2x4 .cardoo{
    height: min(240px,40vh);

  }
  .grid-2x5.grid,
  .grid-3x4.grid{
    gap:10px;
  }

}
@media screen and (max-width: 700px) {
  .grid-2x5{
    grid-template-columns: repeat(4, min(18vw,160px));

  }
  .grid-2x5 .cardoo {
    height: min(160px,24vh);

  }
}
@media screen and (max-width: 500px) {
 

  .grid-1x4{
    
    grid-template-columns: repeat(2, min(45vw,160px));
  }
  .grid-1x4 .cardoo {
    max-height: min(240px,36vh);
  }
  .grid-2x3 {
    grid-template-columns: repeat(2, min(45vw,160px));
  }
  .grid-2x3 .cardoo {
    height: min(240px,25vh);
  }

  .grid-2x4{
    grid-template-columns: repeat(3, min(28vw,160px));
  }
  .grid-2x4 .cardoo {
    height: min(240px,25vh);
  }
  .grid-2x5 {
    grid-template-columns: repeat(3, min(28vw,160px));

  }
  .grid-3x4 {
    grid-template-columns: repeat(3, min(28vw,160px));

  }
  .grid-2x5 .cardoo {
    height: min(240px,19vh);
  }
  .grid-3x4 .cardoo {
    height: min(240px,19vh);
  }



}
@media screen and (min-width: 501px) and (max-height: 640px){
  .grid-1x4{
    
    grid-template-columns: repeat(4, min(22vw,160px));
  }  
  .grid-2x3 .cardoo,
  .grid-2x4 .cardoo, 
  .grid-2x5 .cardoo  {
    height: min(240px,36vh);
  }
}






.cardoo:hover {
  transform: scale(1.03);
  -webkit-box-shadow: -0px 5px 25px 0px rgba(2, 29, 44, 0.5);
  -moz-box-shadow: -0px 5px 25px 0px rgba(2, 29, 44, 0.5);
  box-shadow: -0px 5px 25px 0px rgba(2, 29, 44, 0.5);
}
.cardoo svg{
  width:50%;
}

.obrocik {
  animation-name: exam;
  animation-duration: 0.3s;
}
.obrocik2 {
  animation-name: exam2;
  animation-duration: 0.3s;
}



.cardoo img{
  width: 10%;
}
.cardoo.card-back {
  background-color: #0e4462;
  
  background-size: cover;
  /* border: 18px solid var(--color-primary); */
 
}

.testowe {
  display: none;
}
.card-back .testowe {
  display: inline;
  width: 80%;
  height: 88%;
  /* background-image: url(../files/Maze_bg.svg); */

  background-color: #165170;

  border-radius: 8px;
  /* border: 2px solid var(--color-background); */


}

.card-back svg{
  display: none;
}


